body {
	margin: 0;
	font-family: sans-serif;

}


#photo {
	height: 200px;
	width: 160px;
	margin-right: 10px;
	border-style: solid;
	border-color: lightgrey;
	box-shadow: 1px 1px 2px #aaa5a5;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;

}

#container h1 {
	text-shadow: 2px 2px 5px #aaa5a5;
}